@inherits LayoutComponentBase
@inject UpdateStatusService UpdateStatusService
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<link href="css/app.css" rel="stylesheet" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private List<string> localStorageList = new List<string>();
    private bool updatesMissing;

    protected override async Task OnInitializedAsync()
    {
        var localStorageData = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "Updates");

        var fileNames = new List<string>
        {
            "first-post.txt"
        };

        if (string.IsNullOrEmpty(localStorageData))
        {
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "Updates", "[]");
        }
        else
        {
            localStorageList = System.Text.Json.JsonSerializer.Deserialize<List<string>>(localStorageData);
        }

        updatesMissing = fileNames.Except(localStorageList).Any();

        // Update the shared service with the new state
        UpdateStatusService.UpdatesMissing = updatesMissing;
    }
}
