@page "/adventure-title"
@layout MainLayout

<PageTitle>adventure title</PageTitle>

<link href="css/app.css" rel="stylesheet" />

<div class="container">
  <h3>Adventure Title</h3>
</div>



@code {

}

