@page "/adventure-title"

<h3>Adventure Title</h3>

@page "/readfile"
@using Microsoft.AspNetCore.Components.Forms
@using System.Net.Http.Headers

<h3>Adventure Title</h3>



@code {

}

