@page "/contact"

<h2 style="font-size: 35px;">Contact the Developer</h2>
<p style="padding-top: 5px; padding-bottom: 20px;">Use this form to send an email to the developer. It can take awhile to submit so please be patient</p>




