@page "/"

<PageTitle>Home</PageTitle> 

<div class="container">
    <h1>Welcome!</h1>
    <h2>Welcome to the Conan TableCraft</h2>
    <p>
        This web application is designed to randomly choose your adventures and items from the tables presented in the Conan 2d20 manual.
        Whether you're a seasoned Game Master or a new adventurer in the world of Conan, this tool will help you create thrilling and unpredictable scenarios with ease.
    </p>
</div>


