@page "/"

<PageTitle>Home</PageTitle>

<link href="css/app.css" rel="stylesheet" />

<div class="container">
    <div class="torch left"></div>
    <div class="torch right" ></div>
    <h1>Welcome!</h1>
    <h2>Welcome to the Conan 2d20 Adventure Generator</h2>
    <p>
        This web application is designed to randomly choose your adventures and items from the tables presented in the Conan 2d20 manual.
        Whether you're a seasoned Game Master or a new adventurer in the world of Conan, this tool will help you create thrilling and unpredictable scenarios with ease.
    </p>
</div>


<div style="margin-top: 50px; text-align: center;">
    <button style="padding: 10px 20px; font-size: 16px; cursor: pointer; border: none; border-radius: 5px; background-color: #007bff; color: white;">
        Get Started
    </button>
</div>
